<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <label for="">
            Mailid:
            <input type="text" name="uname" id="">
        </label><br><br>
        <label for="">
            password:
            <input type="text" name="pwd" id="">
        </label><br><br>
        <input type="submit" name="" id="" value="LOGIN">
    </form>
    <p>Are you new user?</p> <a href="{%  url 'signupurl' %}"><p>SignUp</p></a>
</body>
</html>
