<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <label for="">
            Name:
            <input type="text" name="name" id="">
        </label><br><br>
        <label for="">
            Mobile No:
            <input type="text" name="mobile" id="">
        </label><br><br>
        <label for="">
            Password:
            <input type="text" name="pwd" id="">
        </label><br><br>
        <input type="Submit" name="Signup" id="">
        <p>{{mail}}</p>
    </form>
    
</body>
</html>